<div class="intro-headers container">
 <a class="btn btn-danger pull-right">retour</a>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 well">
			<form ng-submit="createclient()" method="post">
				<fieldset>
					<legend>
						<h3 style="color: cadetblue;">Identification Client</h3>
					</legend>
					<div class="form-group">
						<label>Nom</label> <input type="text" class="form-control"
							ng-model="client.lastName" placeholder="entrer le nom" />
					</div>
					<div class="form-group">
						<label>Prenom</label> <input type="text" class="form-control"
							ng-model="client.firstName" placeholder="entrer le prenom" />
					</div>
					<div class="form-group">
						<label>Email</label> <input type="text" class="form-control"
							ng-model="client.email" placeholder="entrer Email" />
					</div>
					<div class="form-group">
						<label>Telephone</label> <input type="text" class="form-control"
							ng-model="client.telephone" placeholder="entrer Telephone" />
					</div>
					<div class="form-group">
						<label>Adresse</label> <input type="text" class="form-control"
							ng-model="client.address" placeholder="entrer Adresse" />
					</div>
					<div class="form-group">
						<input type="submit" class="form-control btn btn-primary"
							value="Valider" />
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	{{client}}
</div>


