
<div>
	<div class="container">

		<div class="row">
			<div class="col-md-12 contenu_accueil col-xs-12" >
				
				<div class="col-md-6 col-xs-12 col-sm-8 home-fond1">
			     <img alt="" src="/image/element/4.png" class="image_acceuil"  />
				</div>
				
				<div class="col-md-6 col-sm-8 col-xs-12 home-fond2 hidden-xs hidden-sm" >
					<h2 class="home-titre">Bienvenu</h2>
					<p class="home-paragraphe">Le Lorem Ipsum <span class="polop"> est simplement  </span> du faux texte employé dans la
						composition et la mise en page avant impression. Le Lorem Ipsum
						est le faux texte standard de l'imprimerie depuis les années 1500,
						quand un peintre anonyme assembla ensemble des morceaux de texte
						pour réaliser un livre spécimen de polices de texte. Il n'a pas
						fait que survivre cinq siècles, mais s'est aussi adapté à la
						bureautique informatique, sans que son contenu n'en soit modifié.
						Il a été popularisé dans les années 1960 grâce à la vente de
						feuilles Letraset contenant des passages du Lorem Ipsum, et, plus
						récemment, par son inclusion dans des applications de mise en page
						de texte, comme Aldus PageMaker.</p>
				</div>
			</div>
			<div class="col-md-12 col-xs-12 col-sm-12 intro-header">
				<div class="intro-message">
					<h1>ENERGIE SOLAIRE</h1>
					<h3>Dimensionnement Panneaux Photovoltaires</h3>
					<hr class="intro-divider">
					<ul class="list-inline intro-social-buttons">
						<li><a ui-sref="clientPompage" class="btn btn-default btn-lg"><i
								class="fa fa-twitter fa-fw"></i> <span class="network-name">Pompage
									Solaire</span></a></li>
						<li><a ui-sref="client" class="btn btn-default btn-lg"><i
								class="fa fa-github fa-fw"></i> <span class="network-name">Alimentation
									Domestique</span></a></li>
						<li><a href="#" class="btn btn-default btn-lg"><i
								class="fa fa-linkedin fa-fw"></i> <span class="network-name">Eclairage
									Publique</span></a></li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	<!-- /.container -->
</div>