 <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Energie Solaire</h1>
                        <h3>Dimensionnement Panneaux Photovoltaires</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Pompage Solaire</span></a>
                            </li>
                            <li>
                                <a ui-sref="client" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Alimentation Domestique</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Eclairage Publique</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>