@CHARSET "UTF-8";

.logoimg {
	width : 100%;
}

.espace {
	margin-top : 25px;
}

.altext {
	font-family: serif;
	font-size: 15px;
}

.tailleblock {
	height: 150px;
	margin-top: 7px;
}

.hum {
	margin-top: 8px
}

.fondimage {
	
	backgroun-size: cover;
	width: 100%;
	height: 450px;
}

.espaceFront {
	margin-top: 120px;
}