<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img src="image/logo/logoAsecy.png" class="logoimg"/>
        <form ng-submit="login()">
            <div class="form-group">
                <label>Login</label> <input type="text" class="form-control"
                                            placeholder="enter your login" />
            </div>
            <div class="form-group">
                <label>Password</label> <input type="password"
                                               class="form-control" placeholder="enter your Password" />
            </div>
            <div class="form-group">
                <label>Remember Me</label> <input type="checkbox" />
            </div>
            <div class="form-group">
                <input type="submit" class="form-control btn btn-primary"
                       value="Sign in" />
            </div>
        </form>
    </div>
</div>
