

<div class="container">
	<div class="home-breadcrumd">
		<ul class="breadcrumb">
			<li><a ui-sref="home">Accueil</a></li>
			<li><a ui-sref="client">Client</a></li>
			<li><a ui-sref="manuelcity">Coordonnées du lieu</a></li>
			<li><a ui-sref="equipementManuel">Puissance des équipements (modèle incomplet)</a></li>
		</ul>
	</div>
	<form class="form-horizontal well " ng-submit="addequipement()"
		method="post">
		<fieldset>
			<legend class="center">
				<h2 style="color: cadetblue">Bilan de puissance de tous les
					équipements de l'installation</h2>
			</legend>
			<div class="col-md-6">
				<div class="form-group">
					<label class="col-md-3 control-label">TELEVISEURS<span style="color:red;">*</span></label>
					<div class="col-md-3">
						<input type="text" placeholder="puissance" class="form-control"
							ng-model="equipement.televiseur.puissance" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="quantité" class="form-control"
							ng-model="equipement.televiseur.quantite" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="temps" class="form-control"
							ng-model="equipement.televiseur.temps" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">REFRIGERATEURS<span style="color:red;">*</span></label>
					<div class="col-md-3">
						<input type="text" placeholder="puissance" class="form-control"
							ng-model="equipement.refrigerateur.puissance" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="quantité" class="form-control"
							ng-model="equipement.refrigerateur.quantite" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="temps" class="form-control"
							ng-model="equipement.refrigerateur.temps" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">CLIMATISEURS<span style="color:red;">*</span></label>
					<div class="col-md-3">
						<input type="text" placeholder="puissance" class="form-control"
							ng-model="equipement.climatiseur.puissance" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="quantité" class="form-control"
							ng-model="equipement.climatiseur.quantite" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="temps" class="form-control"
							ng-model="equipement.climatiseur.temps" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">CONGELATEURS<span style="color:red;">*</span></label>
					<div class="col-md-3">
						<input type="text" placeholder="puissance" class="form-control"
							ng-model="equipement.congelateur.puissance" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="quantité" class="form-control"
							ng-model="equipement.congelateur.quantite" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="temps" class="form-control"
							ng-model="equipement.congelateur.temps" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">RADIO <span style="color:red;">*</span></label>
					<div class="col-md-3">
						<input type="text" placeholder="puissance" class="form-control"
							ng-model="equipement.radio.puissance" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="quantité" class="form-control"
							ng-model="equipement.radio.quantite" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="temps" class="form-control"
							ng-model="equipement.radio.temps" />
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="col-md-3 control-label">LAMPES <span style="color:red;">*</span></label>
					<div class="col-md-3">
						<input type="text" placeholder="puissance" class="form-control"
							ng-model="equipement.lampe.puissance" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="quantité" class="form-control"
							ng-model="equipement.lampe.quantite" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="temps" class="form-control"
							ng-model="equipement.lampe.temps" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">DESTOPS <span style="color:red;">*</span></label>
					<div class="col-md-3">
						<input type="text" placeholder="puissance" class="form-control"
							ng-model="equipement.destop.puissance" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="quantité" class="form-control"
							ng-model="equipement.destop.quantite" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="temps" class="form-control"
							ng-model="equipement.destop.temps" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">MODEMS <span style="color:red;">*</span></label>
					<div class="col-md-3">
						<input type="text" placeholder="puissance" class="form-control"
							ng-model="equipement.modem.puissance" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="quantité" class="form-control"
							ng-model="equipement.modem.quantite" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="temps" class="form-control"
							ng-model="equipement.modem.temps" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">LAPTOPS <span style="color:red;">*</span></label>
					<div class="col-md-3">
						<input type="text" placeholder="puissance" class="form-control"
							ng-model="equipement.laptop.puissance" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="quantité" class="form-control"
							ng-model="equipement.laptop.quantite" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="temps" class="form-control"
							ng-model="equipement.laptop.temps" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">AUTRES <span style="color:red;">*</span></label>
					<div class="col-md-3">
						<input type="text" placeholder="puissance" class="form-control"
							ng-model="equipement.autre.puissance" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="quantité" class="form-control"
							ng-model="equipement.autre.quantite" />
					</div>
					<div class="col-md-3">
						<input type="text" placeholder="temps" class="form-control"
							ng-model="equipement.autre.temps" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-6" style="margin-top: 25px;">
					<input type="reset" value="annuler"
						class="btn btn-danger btn-block btn-lg">
				</div>
				<div class="col-md-6" style="margin-top: 25px;">
					<input type="submit" value="valider"
						class="btn btn-primary btn-block btn-lg">
				</div>
			</div>

		</fieldset>

	</form>
	<p><strong>NB :</strong> Champ obligatoire <span style="color:red;">*</span></p>
</div>
<!-- {{equipement}} -->
